{% include "header.html" %}
    <!-- main content -->

  <div class="container-fluid " style = "margin-top:100px">
  <div class="row justify-content-md-center">
  <div class="column">  </div>
  <div class="col-8">
        <h1>Today's Orders</h1>
    <div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>User id</th>
      <th>User Name</th>
      <th>User Email</th>
      <th>User Group</th>
      <th>User date</th>
    </tr>
    </thead>
    <tbody>
      {% for i in users%}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.group }}</td>
        <td>{{ i.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include "footer.html" %}