{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Website to order Tom's breas">
  <meta name="author" content="Tom">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/custom.css')}}" -->
  <title>Bread Website</title>
</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-sm sticky-top bg-dark">
  <div class="container-fluid bg-dark">
    <ul class="nav justify-content-start">
      <li class="nav-item text-white bg-dark">
        <a class="navbar-brand text-white" href="{{ url_for('indexEs') }}"><img src="static/icons/bread.png" alt="account" class="bg-dark" style="height:30px"></a>
      </li>
      {% if current_user.is_authenticated: %}
      <li class="nav-item text-white bg-dark">
        <a class="nav-link text-white" href="{{ url_for('pedidos') }}"><img src="static/icons/cart.png" alt="account" class="bg-dark" style="height:30px"></a>
      </li>
      {% endif %}
    </ul>
    <ul class="nav justify-content-end">
      {% if not current_user.is_authenticated: %}
      <li class="nav-item text-white bg-dark">
        <a class="nav-link text-white" href="{{ url_for('acceso') }}">Acceso</a>
      </li>
      {% endif %}
      {% if not current_user.is_authenticated: %}
      <li class="nav-item text-white bg-dark">
        <a class="nav-link text-white" href="{{ url_for('registro') }}">Registro</a>
      </li>
      {% endif %}
      {% if current_user.is_authenticated: %}
      <li class="nav-item text-white bg-dark">
        <a class="nav-link text-white" href="{{ url_for('logout') }}"><img src="static/icons/power-switch.png" alt="account" class="bg-dark" style="height:30px"></a>
      </li>
      {% endif %}
      {% if current_user.is_authenticated: %}
      <li class="nav-item text-white bg-dark">
        <a class="nav-link text-white" href="{{ url_for('usuario') }}"><img src="static/icons/user.png" alt="usario" class="bg-dark" style="height:30px"></a>
      </li>
      {% endif %}
      <li class="nav-item text-white bg-dark">
        <a class="nav-link text-white" href="{{url_for('indexEng')}}"><img src="static/icons/united-kingdom.png" alt="spanish" class="bg-dark" style="height:30px"> </a>
      </li>
    </ul>
  </div>
</nav>
