{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container-fluid position-absoulte">
  <div class="container align-self-center" style="margin-top:100px">
    <form method="POST" action="{{ url_for('register') }}">
    {{ form.csrf_token }}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="bottom:0">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto" style="bottom:0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item ">Username {{form.username(style="width:300px")}} <span style="color:red">{% if error1 %}{{error1}}{% endif %}</span></li>
                  <li class="list-group-item ">Group {{form.group(style="width:300px")}}</li>
                  <li class="list-group-item ">Email {{form.email(style="width:300px")}}<span style="color:red">{% if error2 %}{{error2}}{% endif %}</span></li>
                  <li class="list-group-item ">Address {{form.address(style="width:300px")}}</li>
                  <li class="list-group-item">Password {{form.password(style="width:300px")}}</li>
                  <li class="list-group-item "><input type="submit" value="Register" class="btn btn-dark"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
</body>
</html>
